.list {
	margin-left: 500px;
	margin-top: -400px;
	list-style: none;
}

.heading {
	color: blue;
	font-size: adjust:0.50;
	font-style: italic;
	text-align: center;
}

.imgbig{
	margin-left: 50px;
	height: 500px;
	width: 400px;
}